body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:55px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:55px;
}
#u13757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13758 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:13px;
  width:127px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u13760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13760 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:18px;
  width:101px;
  height:20px;
  color:#FFFFFF;
}
#u13761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u13762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u13762 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:13px;
  width:22px;
  height:26px;
}
#u13763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:1005px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u13764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:209px;
  height:1005px;
}
#u13765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:494px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13766 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:273px;
  width:125px;
  height:85px;
}
#u13766_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  font-size:14px;
}
#u13768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13768 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u13768_img.selected {
}
#u13768.selected {
}
#u13769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13770 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u13771 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13767_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13772 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:100px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13773 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u13774 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u13775 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13776 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13777 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13778 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:52px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13779 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:30px;
  height:20px;
}
#u13780 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u13781 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:719px;
  width:173px;
  height:305px;
}
#u13781_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u13783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13783 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  color:#333333;
}
#u13783_img.selected {
}
#u13783.selected {
}
#u13784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13785 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u13786 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13782_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13787 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:140px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13788 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u13788_img.selected {
}
#u13788.selected {
}
#u13789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13790 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:118px;
  height:20px;
}
#u13791 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u13787_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13792 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13793 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u13794 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u13795 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:124px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13796 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u13797 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u13798 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13799 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13800 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13801 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13802 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13803 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13804 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:104px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13805 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:82px;
  height:20px;
}
#u13806 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u13807 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:104px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13808 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:82px;
  height:20px;
}
#u13809 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u13810 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:104px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13811 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u13811_img.selected {
}
#u13811.selected {
}
#u13812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13813 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:82px;
  height:20px;
}
#u13814 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u13810_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13815 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:128px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13816 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:106px;
  height:20px;
}
#u13817 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:101px;
  white-space:nowrap;
}
#u13818 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:124px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13819 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u13820 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u13821 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:220px;
  width:104px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13822 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u13822_img.selected {
}
#u13822.selected {
}
#u13823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13824 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:82px;
  height:20px;
}
#u13825 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u13821_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13826 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13827 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13828 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13829 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:64px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13830 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:42px;
  height:20px;
}
#u13831 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u13832 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:64px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13833 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:42px;
  height:20px;
}
#u13834 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u13835 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:89px;
  width:117px;
  height:165px;
}
#u13835_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13837 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u13837_img.selected {
}
#u13837.selected {
}
#u13838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13839 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u13840 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13836_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13841 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:52px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13842 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:30px;
  height:20px;
}
#u13843 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u13844 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13845 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13846 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13847 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13848 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13849 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13850 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13851 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13852 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13853 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13854 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13855 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13856 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13857 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13858 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13859 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13860 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13861 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13862 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:378px;
  width:159px;
  height:105px;
}
#u13862_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
  font-size:14px;
}
#u13864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13864 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u13864_img.selected {
}
#u13864.selected {
}
#u13865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13866 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:132px;
  height:20px;
}
#u13867 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u13863_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13868 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:100px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13869 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u13870 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u13871 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:100px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13872 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u13873 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u13874 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:88px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13875 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:66px;
  height:20px;
}
#u13876 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u13877 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:100px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13878 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u13879 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u13880 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:502px;
  width:181px;
  height:205px;
}
#u13880_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13882 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u13882_img.selected {
}
#u13882.selected {
}
#u13883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13884 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u13885 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13881_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13886 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13887 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u13888 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u13889 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13890 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u13891 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u13892 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13893 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u13894 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u13895 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13896 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u13896_img.selected {
}
#u13896.selected {
}
#u13897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13898 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u13899 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u13895_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13900 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13901 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u13902 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u13903 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:100px;
  height:20px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13904 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u13905 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:73px;
  white-space:nowrap;
}
#u13906 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:136px;
  height:20px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13907 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:114px;
  height:20px;
}
#u13908 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:109px;
  white-space:nowrap;
}
#u13909 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:112px;
  height:20px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13910 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u13911 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:85px;
  white-space:nowrap;
}
#u13912 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:136px;
  height:20px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13913 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:114px;
  height:20px;
}
#u13914 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:109px;
  white-space:nowrap;
}
#u13915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFontEmphasized', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u13915 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:81px;
  width:129px;
  height:19px;
  font-family:'.AppleSystemUIFontEmphasized', '.AppleSystemUIFont Bold', '.AppleSystemUIFont';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u13916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u13917 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:132px;
  width:656px;
  height:416px;
}
#u13917_input {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:416px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:299px;
}
#u13918 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:192px;
  width:604px;
  height:299px;
  line-height:28px;
}
#u13919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  word-wrap:break-word;
}
#u13920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
  line-height:28px;
}
#u13920 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:155px;
  width:113px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
  line-height:28px;
}
#u13921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u13922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u13922 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:482px;
  width:86px;
  height:56px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u13923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
